<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button style="color: #FFCC23"></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Add Address
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <ion-label>Home Address <ion-text color="danger">*</ion-text></ion-label>
      </ion-col>
      <ion-col size="12">
          <ion-textarea [(ngModel)]="homeaddress"></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid> 
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <ion-label>Work Address <ion-text color="danger">*</ion-text></ion-label>
      </ion-col>
      <ion-col size="12">
          <ion-textarea [(ngModel)]="workaddress"></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>     
  <ion-button shape="round" expand="full" color="primary" (click)="submitAddress()">Submit</ion-button>
</ion-content>
