ion-content{
    ion-label{
        font-size: 17px;
        color:#008ED8;
        font-weight: 400;
    }
    ion-textarea{
        border: 1px solid #CCCCCC;
        padding: 5px;
        height: 160px;
        border-radius: 6px;
    }
}