<ion-header>
  <ion-toolbar>
    <ion-title>Thank You</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="thankyou">
            <h4>
              <!-- Thank you for the payment ! -->
              Thank you for your order
            </h4>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
  
<ion-button color="success" expand="full" (click)="toHomePage()">Continue Shopping</ion-button>

</ion-content>