<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="pushedFrom!='FP'">
      <ion-menu-button style="color: #FFCC23"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="pushedFrom=='FP'">
      <ion-back-button style="color: #FFCC23"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="pushedFrom != 'FP'">
      Change Password
    </ion-title>
    <ion-title *ngIf="pushedFrom == 'FP'">
      Reset Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="ion-margin-top">
    <!-- <ion-item>
          <ion-label><ion-icon name="lock" color="primary"></ion-icon></ion-label>
          <ion-input placeholder="Old Password" type="password" [(ngModel)]="oldpassword"></ion-input>
        </ion-item> -->
    <ion-item>
      <ion-label>
        <ion-icon name="lock" style="color: #FFCC23"></ion-icon>
      </ion-label>
      <ion-input placeholder="New Password" type="password" [(ngModel)]="newpassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="lock" style="color: #FFCC23"></ion-icon>
      </ion-label>
      <ion-input placeholder="Confirm Password" type="password" [(ngModel)]="cnfpassword"></ion-input>
    </ion-item>
    <ion-item lines="none"></ion-item>
    <ion-item lines="none"></ion-item>
    <ion-button shape="round" expand="full" color="primary" (click)="toLogin()" *ngIf="pushedFrom != 'FP'">Submit</ion-button>
    <ion-button shape="round" expand="full" color="primary" (click)="toLogin()" *ngIf="pushedFrom == 'FP'">Reset Password</ion-button>

  </ion-list>
</ion-content>