<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #FFCC23"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Return Policy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="loginBx">
      <ion-col>
        <ion-text>
          <div>
            <!-- <h1>What is Lorem Ipsum?</h1> -->
            <div [innerHTML]="description"></div>
          </div>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
