<ion-app>
  <!--<ion-header *ngIf="showHeader">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="dark" *ngIf="showMenu"></ion-menu-button>
        <ion-back-button defaultHref="/{{prevPage}}" *ngIf="showBack" color="dark"></ion-back-button>
      </ion-buttons>

        <ion-buttons slot="primary" *ngIf="showMenu">
            <ion-button slot="end" fill="clear" class="tips-btn" (click)="addRTO()">
              <ion-icon ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
            </ion-button>
          </ion-buttons> 

      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title >{{menuTitle}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
            <ion-item no-lines [routerDirection]="'forward'" [routerLink]="[p.url]">
              <!-- <ion-icon slot="start" style="color: #FFCC23" [name]="p.icon" (click)="toggleMenu()"></ion-icon> -->
              <img src="{{p.img}}" alt="" width="40" (click)="toggleMenu()">
              <ion-label (click)="toggleMenu()">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
