<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: #FFCC23"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-grid class="bg">
    <ion-row>
      <ion-col>
        <div class="loginPg">
          <div class="loginBx"> -->
            <div class="logologin">
              <ion-img src="/assets/images/logo1.png"></ion-img>
            </div>
            <div class="logologinInstruction">
              <h6>Forgot Password?</h6>
            <label>To Reset Your Password an OTP send to Your Email ID</label>
            </div>
            
            <!-- <form> -->
              <ion-list class="ion-margin-top">
                <ion-item>
                  <ion-label>
                    <ion-icon name="mail" style="color: #FFCC23"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="Email" type="text" [(ngModel)]="email_id"></ion-input>
                </ion-item>
              </ion-list>
              
              
              <div class="frmaxon">
                <ion-button (click)="submit()" color="primary" shape="round" expand="block">Submit</ion-button>
              </div>
            <!-- </form> -->
            <!-- <h1 style="margin:70px 0 20px;">Remember Password?</h1>
            <ion-button routerLink="/login" color="primary" shape="round" expand="block" fill="outline">Login</ion-button> -->
          <!-- </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
